<% 
  let gnb = locals.require('gnb.json')
  var page = 'banner'
  let sub = '목록'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>


<div class="row">
  <div class="col-sm-12">
    
    <table class="table table-striped table-bordered">
        <thead>
            <th class="text-center" style="width:60px;">번호</th>
            <th class="text-center" style="width:300px;">이미지</th>
            <th class="text-center">상세</th>
            <th class="text-center" style="width:150px;">시작일</th>
            <th class="text-center" style="width:150px;">종료일</th>
            <th class="text-center" style="width:180px;">관리</th>
        </thead>
        <tbody>
            <% for (var i=3; i > 0; i--) { %>
                <tr>
                    <td class="text-center vertical-middle"><%- i %></td>
                    <td>
                        <img src="https://assets.hermes.com/is/image/hermesedito/P_169_Silk_AW20_Blesnya_2?fit=wrap,0&wid=730" alt="" class="img-width-default">
                    </td>
                    <td>
                        <table class="table table-bordered">
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:120px;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th class="active">사용여부</th>
                                    <td colspan="3">
                                        <label class="radio-inline">
                                            <span class="form-radio"><input type="radio" name="mainBannerUse<%- i %>" id="mainBannerUse<%- i %>_y" value="option1" checked><i></i></span> 사용
                                        </label>
                                        <label class="radio-inline">
                                            <span class="form-radio"><input type="radio" name="mainBannerUse<%- i %>" id="mainBannerUse<%- i %>_n" value="option2"><i></i></span> 사용안함
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="active">제목</th>
                                    <td colspan="3">
                                        프로모션 1
                                    </td>
                                </tr>
                                <tr>
                                    <th class="active">링크 URL</th>
                                    <td colspan="3">
                                        https://www.hermes.com/kr/ko/category/women/scarves-and-silk-accessories/
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="text-center vertical-middle">2018-11-21</td>
                    <td class="text-center vertical-middle">2018-11-21</td>
                    <td class="text-center vertical-middle">
                        <a class="btn btn-default" href="<%- gnb[page].children['수정'].link %>.html" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> 수정</a>
                        <a class="btn btn-default" href="<%- gnb[page].children['수정'].link %>.html" role="button"><i class="fa fa-times" aria-hidden="true"></i> 삭제</a>
                    </td>
                </tr>
            <% } -%>
        </tbody>
    </table>
    <!-- //table -->
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%- locals.widget('_pagination.ejs') %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 text-left">
  </div>
  <div class="col-sm-4 text-center"></div>
  <div class="col-sm-4 text-right">
    <a class="btn btn-success" href="<%- gnb[page].children['등록'].link %>.html" role="button"><i class="fa fa-pencil" aria-hidden="true"></i> 등록</a>
  </div>
</div>