<%
page_type = "theme"
	page = "theme"
	header = "true"
%>
<% include ../_include/_header %>
<div class="container">
    <div class="search">
        <div class="theme-header type-theme-1">
			<div class="theme-header__outer">
				<div class="theme-header__inner">
					<iframe class="theme-header__iframe" src="http://player.vimeo.com/video/147169807?autoplay=1&amp;loop=1&amp;quality=1080p&amp;muted=1" frameborder="0"></iframe>
				</div>
			</div>
			<div class="theme-header__wrap">
				<div class="vertical-outer">
					<div class="vertical-inner">
						<div class="container__wrap">
							<h3 class="theme-header__tit">
								누구에게나<br>
								<span class="js-theme-line">가장 알맞는 중고차</span>
							</h3>
							<p class="theme-header__txt">품질 &amp; 가성비 모두 A</p>
							<p class="theme-header__txt2">빅데이터 추천 갑 of 갑</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="search-body type-theme">
			<div class="container__wrap">
				<div class="search__body">
					<div class="search-result">
						<p class="search-result__tit">
							<strong class="search-result__strong">검색결과</strong> 총<span class="search-result__span"> 4,514대</span>의 차량이 있습니다.
						</p>
					</div>
					<div class="search__content">
						<div class="tab-v1">
							<ul class="tab-v1__list">
								<li class="tab-v1__item is-active"><a href="" class="tab-v1__link">전체상품 <span class="tab-v1__num">4,514</span></a></li>
								<li class="tab-v1__item"><a href="" class="tab-v1__link">엔카 <span class="tab-v1__num">4,514</span></a></li>
								<li class="tab-v1__item"><a href="" class="tab-v1__link">KB차차차 <span class="tab-v1__num">4,514</span></a></li>
								<li class="tab-v1__item"><a href="" class="tab-v1__link">AJ셀카 <span class="tab-v1__num">4,514</span></a></li>
								<li class="tab-v1__item"><a href="" class="tab-v1__link">엠파크 <span class="tab-v1__num">4,514</span></a></li>
							</ul>
						</div>
						<div class="inner-search">
							<div class="inner-search__wrap">
								<form class="inner-search__form" name="inner-search_form" id="inner-search_form" action="../../index.php">
									<label class="sr-only" for="inputSearch">결과내 검색</label>
									<button type="submit" class="inner-search__btn">검색</button>
									<input type="text" class="inner-search__input js-tag-search ui-autocomplete-input" id="inputSearch" name="inputSearch" placeholder="태그추가" required="" autocomplete="off">
								</form>
							</div>
						</div>
						<div class="tab-v1__content">
							<div class="tab-v1__header">
								<div class="align-style">
									<ul class="align-style__list">
										<li class="align-style__item is-active">
											<a href="" class="align-style__link"><span class="align-style__wrap">최근등록순</span></a>
										</li>
										<li class="align-style__item">
											<a href="" class="align-style__link"><span class="align-style__wrap">높은가격순</span></a>
										</li>
										<li class="align-style__item">
											<a href="" class="align-style__link"><span class="align-style__wrap">낮은가격순</span></a>
										</li>
										<li class="align-style__item">
											<a href="" class="align-style__link"><span class="align-style__wrap">품질순</span></a>
										</li>
										<li class="align-style__item">
											<a href="" class="align-style__link"><span class="align-style__wrap">주행거리순</span></a>
										</li>
										<li class="align-style__item">
											<a href="" class="align-style__link"><span class="align-style__wrap">연식순</span></a>
										</li>
									</ul>
								</div>
								<div class="view-style">
									<input type="checkbox" name="smart" id="smart"  class="view-style__check checkbox-v2"><label for="smart"> 스마트 필터 제외</label>
									<ul class="view-style__list">
										<li class="view-style__item">
											<button class="view-style__btn type-line">가로</button>
										</li>
										<li class="view-style__item is-active">
											<button class="view-style__btn type-square">바둑판</button>
										</li>
									</ul>
								</div>
							</div>
							<div class="product">
								<ul class="product__list js-product-list">
									<!-- <li class="product__item no-message">
										<div class="notice">
											<h4 class="notice__tit">검색결과가 없습니다.</h4>
										</div>
									</li> -->
									<li class="product__item">
										<div class="product__wrap">
											<div class="product__img img-border">
												<img src="../../img/search/product_img.jpg" class="img-w100" alt="">
											</div>
											<div class="product__box">
												<div class="product__brand">
													<img src="../../img/common/brand_kb.png" class="img-w100" alt="kb">
												</div>
												<p class="product__txt">
													<span class="product__rank">BB+ </span>
													<span class="product__price">170만원</span>
												</p>
												<p class="product__txt">
													<span class="product__name">현대 아반떼 1.5 SPECIAL EDITION 1</span>
												</p>
												<p class="product__txt">
													<span class="product__info info-style">15누4778</span>
													<span class="product__info info-style">99년05월 (99년형)</span>
													<span class="product__info info-style">160,592km</span>
												</p>
												<p class="product__txt">
													<span class="product__mark mark-style type-eye">0</span>
												</p>
											</div>
											<a href="../view.php?c_code=2154663" class="product__link">자세히보기</a>
										</div>
									</li>
									<li class="product__item">
										<div class="product__wrap">
											<div class="product__img img-border">
												<img src="https://carfora.co.kr/data/goods/kb/20191114011852_1.jpg" class="img-center" alt="">
											</div>
											<div class="product__box">
												<div class="product__brand">
													<img src="../../img/common/brand_kb.png" class="img-w100" alt="kb">
												</div>
												<p class="product__txt">
													<span class="product__rank">BB+ </span>
													<span class="product__price">170만원</span>
												</p>
												<p class="product__txt">
													<span class="product__name">현대 아반떼 1.5 SPECIAL EDITION 1</span>
												</p>
												<p class="product__txt">
													<span class="product__info info-style">15누4778</span>
													<span class="product__info info-style">99년05월 (99년형)</span>
													<span class="product__info info-style">160,592km</span>
												</p>
												<p class="product__txt">
													<span class="product__mark mark-style type-eye">0</span>
												</p>
											</div>
											<a href="../view.php?c_code=2154663" class="product__link">자세히보기</a>
										</div>
									</li>
								</ul>
								<a href="" class="product__btn button-v3 w-l">
									<span class="button-v3__wrap">
										검색결과 더 보기<span class="plus"><span class="plus__wrap">plus</span></span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="search__menu">
					<div class="tag">
						<div class="clb">
							<h3 class="tag__tit">기획전 검색</h3>
							<button class="tag__reset"><span class="btn-span">전체 초기화</span></button>
						</div>
						<div class="tag__area">
							<div class="tag__box">
								<div class="tag__header">
									<h4 class="tag__subject">차종</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body">
									<ul class="tag__outer-list">
										<% for(var i = 1; i<=10; i++){%>
											<li class="tag__outer-item">
												<input type="checkbox" name="chkAgree2" id="vehicleType<%=i%>"  class="tag__checkbox js-tag-check">
												<label for="vehicleType<%=i%>">
													<div class="tag__outer-wrap">
														<span class="tag__icon hash-icon">#</span>
														<span class="tag__name">경차</span>
														<span class="tag__number">8,864</span>
													</div>
												</label>
											</li>
										<% } %>
									</ul>
								</div>
							</div>
							<div class="tag__box">
								<div class="tag__header">
									<h4 class="tag__subject">연식</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body">
									<div class="period-style1">
										<dl class="period-style1__dl">
											<dt class="period-style1__dt">최소</dt>
											<dd class="period-style1__dd">
												<div class="period-style1__box">
													<select name="year_year" class="select-v2" id="year_year" required="">
														<option value="">년</option>
														<% for(var i = 1989; i<=2021; i++){%>
															<option value="<%=i%>"><%=i%></option>
														<% } %>
													</select>
												</div>
												<div class="period-style1__box">
													<select name="year_year" class="select-v2" id="year_year" required="">
														<option value="">월</option>
														<% for(var i = 1; i<=12; i++){%>
															<option value="<%=i%>"><%=i%></option>
														<% } %>
													</select>
												</div>
											</dd>
										</dl>
										<dl class="period-style1__dl">
											<dt class="period-style1__dt">최대</dt>
											<dd class="period-style1__dd">
												<div class="period-style1__box">
													<select name="year_year" class="select-v2" id="year_year" required="">
														<option value="">년</option>
														<% for(var i = 1989; i<=2021; i++){%>
															<option value="<%=i%>"><%=i%></option>
														<% } %>
													</select>
												</div>
												<div class="period-style1__box">
													<select name="year_year" class="select-v2" id="year_year" required="">
														<option value="">월</option>
														<% for(var i = 1; i<=12; i++){%>
															<option value="<%=i%>"><%=i%></option>
														<% } %>
													</select>
												</div>
											</dd>
										</dl>
									</div>
									<button class="period-style1__btn button-v1 w-100">검색하기</button>
								</div>
							</div>
							<div class="tag__box">
								<div class="tag__header">
									<h4 class="tag__subject">주행거리</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body type-visible">
									<div class="period-style2">
										<div class="period-style2__slider" id="drive-slider">

										</div>
										<ul class="period-style2__list">
											<li class="period-style2__item">
												<select name="year_year" class="select-v2" id="drive-select1" required="">
													<option value="-10000">선택</option>
												</select>
											</li>
											<li class="period-style2__item">
												<select name="year_year" class="select-v2" id="drive-select2" required="">
													<option value="210000">선택</option>
												</select>
											</li>
										</ul>
										<button class="period-style2__btn button-v1 w-100">검색하기</button>
									</div>
								</div>
							</div>
							<div class="tag__box is-active">
								<div class="tag__header">
									<h4 class="tag__subject">가격</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body type-visible">
									<div class="period-style2">
										<div class="period-style2__slider" id="price-slider">

										</div>
										<ul class="period-style2__list">
											<li class="period-style2__item">
												<select name="year_year" class="period-style2__select select-v2" id="price-select1" required="">
													<option value="-100">선택</option>
												</select>
												<div class="period-style2__box">
													<input class="input-v1 type-unit" type="number"/>
													<p class="period-style2__unit">만원</p>
												</div>
											</li>
											<li class="period-style2__item">
												<select name="year_year" class="period-style2__select select-v2" id="price-select2" required="">
													<option value="10100">선택</option>
												</select>
												<div class="period-style2__box">
													<input class="input-v1 type-unit" type="number"/>
													<p class="period-style2__unit">만원</p>
												</div>
											</li>
										</ul>
										<div class="period-style2__check">
											<input type="checkbox" name="chkAgree2" id="chkAgree2"  class="checkbox-v2 js-directly"><label for="chkAgree2"> 직접입력</label>
										</div>
										<button class="period-style2__btn button-v1 w-100">검색하기</button>
									</div>
								</div>
							</div>
							<div class="tag__box">
								<div class="tag__header">
									<h4 class="tag__subject">지역</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body">
									<ul class="tag__outer-list is-more">
										<% for(var i = 1; i<=15; i++){%>
											<li class="tag__outer-item">
												<input type="checkbox" name="chkAgree2" id="area<%=i%>"  class="tag__checkbox js-tag-check">
												<label for="area<%=i%>">
													<div class="tag__outer-wrap">
														<span class="tag__icon hash-icon">#</span>
														<span class="tag__name">현대</span>
														<span class="tag__number">8,864</span>
													</div>
												</label>
											</li>
										<% } %>
									</ul>
									<a href="" class="tag__more js-more">더보기</a>
								</div>
							</div>
							<div class="tag__box">
								<div class="tag__header">
									<h4 class="tag__subject">색상</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body">
									<ul class="tag__outer-list is-more">
										<% for(var i = 1; i<=20; i++){%>
											<li class="tag__outer-item">
												<input type="checkbox" name="chkAgree2" id="color<%=i%>"  class="tag__checkbox js-tag-check">
												<label for="color<%=i%>">
													<div class="tag__outer-wrap">
														<span class="tag__icon hash-icon">#</span>
														<span class="tag__name">파랑</span>
														<span class="tag__number">8,864</span>
													</div>
												</label>
											</li>
										<% } %>
									</ul>
									<a href="" class="tag__more js-more">더보기</a>
								</div>
							</div>
							<div class="tag__box">
								<div class="tag__header">
									<h4 class="tag__subject">연료</h4>
									<button class="tag__btn js-tag-toggle">open/close</button>
								</div>
								<div class="tag__body">
									<ul class="tag__outer-list is-more">
										<% for(var i = 1; i<=20; i++){%>
											<li class="tag__outer-item">
												<input type="checkbox" name="chkAgree2" id="fuel<%=i%>"  class="tag__checkbox js-tag-check">
												<label for="fuel<%=i%>">
													<div class="tag__outer-wrap">
														<span class="tag__icon hash-icon">#</span>
														<span class="tag__name">현대</span>
														<span class="tag__number">8,864</span>
													</div>
												</label>
											</li>
										<% } %>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>

<% include ../_include/_footer %>
