<% let gnb = locals.require('gnb.json') -%>
<ul class="nav navbar-nav" role="navigation">
  <% // start depth1 for, if
    for (var depth1 in gnb) {
      if (gnb[depth1].hasOwnProperty('view')) {
        var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
        var depth2 = gnb[depth1].hasOwnProperty('children') && (Object.keys(gnb[depth1].children).length > 0)
        if (depth2) { 
          var children = gnb[depth1].children;
          var subLink = (children[Object.keys(children)[0]].link == '') ? children[Object.keys(children)[0]].children[Object.keys(children[Object.keys(children)[0]].children)[0]].link : children[Object.keys(children)[0]].link
          var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
          var depth2View = 0
          for (var d2 in children) {
            if (children[d2].hasOwnProperty('view') === false || children[d2].view == true) depth2View ++
          }
        } else { 
          var link = gnb[depth1].link
        }
    -%>
    <% // start depth2 if
        if (depth2 && (depth2View > 0)) {
        -%>
      <li role="presentation" class="dropdown">
        <a href="../<%- depth1%>/<%- link %>.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%- gnb[depth1].title.ko %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% // start depth2 for, if
              for (var depth2 in children) {
                if (children[depth2].hasOwnProperty('view')) {
                  var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
                  var link2 = (children[depth2].link == '') ? children[depth2].children[Object.keys(children[depth2].children)[0]].link : children[depth2].link
              -%>
              <li><a href="../<%- depth1%>/<%- children[depth2].link %>.html" class=""><%- depth2 %></a></li>
            <% // end depth2 for, if
                }
              }
              -%>
          </ul>
      </li>
    <% // end depth2 if, start depth2 else
      } else { 
      -%>
      <li role="presentation">
        <a href="../<%- depth1%>/<%- link %>.html"><%- gnb[depth1].title.ko %></a>
      </li>
    <% // end depth2 else
      }
      %>
  <% // end depth1 for, if
      }
    }
    -%>
</ul>